* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&s=55ac27e133c82c535934b4e7fb4eeec3');
    background-position: center top;
    background-size: cover;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: black;
    transition: all 1s ease;
}

a:hover {
    color: white;
    text-decoration: underline;
}

nav {
    background: rgba(255, 255, 255, 0.1);
    font-size: 24px;
}

body > header {
    height: 100px;
}

article > header {
    margin-bottom: 20px;
}

main {
    width: 80vw;
    margin: 0 auto;
}

ul {
    float: right;
    margin-top: 32px;
    margin-right: 10vw;
}

li {
    display: inline-block;
}

article {
    background: rgba(255, 255, 255, 0.8);
    height: 55vh;
    border-radius: 1px;
    padding: 30px;
    width: initial;
}

section {
    width: 60%;
    text-align: justify;
    float: left;
}

aside {
    position: relative;
}

aside img {
    float: right;
    position: absolute;
    width: 25vw;
    top: -30px;
    right: 0;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 30px;
    background: rgba(255, 255, 255, 0.72);
    width: 100vw;
    text-align: center;
    padding-top: 16px;
}
